<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>
<body>
    
    {{> header}}

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi praesentium repellat dolorem odio reprehenderit error molestiae, ad nemo eveniet aliquam possimus quasi consectetur deserunt aperiam suscipit dolorum optio cumque delectus!</p>

    {{> footer}}
</body>
</html>